

div.a {
    width: 100px;
    height: 50px;
    background-image: url('envelop.png');
    background-size: cover;
    background-position: center;
    position: absolute;
}

div.b {
    width: 100px;
    height: 50px;
    background-image: url('envelop.png');
    background-size: cover;
    background-position: center;
    position: absolute;
}

div.c {
    width: 100px;
    height: 50px;
    background-image: url('envelop.png');
    background-size: cover;
    background-position: center;
    position: absolute;
}

div.d {
    width: 100px;
    height: 50px;
    background-image: url('envelop.png');
    background-size: cover;
    background-position: center;
    position: absolute;
}