<div class="page-wrapper">
  <!-- MENU SIDEBAR-->
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a href="#">
        <img src="external-images/images/logo.png" alt="SPL" class="img-responsive">
      </a>
    </div>
    <div class="menu-sidebar-content js-scrollbar1">
      <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">
          <li style="border-top: 0.2px solid #ced4da; margin-top: 5px; padding-top: 5px;">
            <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
          </li>
          <li class="has-sub">
            <a class="js-arrow" href="#" (click)="toggleAuctionMenu($event)" style="display: flex; justify-content: space-between; align-items: center;">
              <span>Auction</span>
              <i class="fa fa-chevron-right" id="auction-arrow" style="font-size: 12px;"></i>
            </a>
            <ul class="list-unstyled navbar-mobile-sub__list navbar-sidebar-submenu" id="auction-submenu" style="display: none; padding-left: 30px; border-top: 0.2px solid #ced4da;">
              <li><a routerLink="/auction/1" routerLinkActive="active">L1</a></li>
              <li><a routerLink="/auction/2" routerLinkActive="active">L2</a></li>
              <li><a routerLink="/auction/3" routerLinkActive="active">L3</a></li>
              <li><a routerLink="/auction/4" routerLinkActive="active">L4</a></li>
              <li><a routerLink="/unsold" routerLinkActive="active">Unsold</a></li>
              <li><a routerLink="/auction-modify" routerLinkActive="active">Modify</a></li>
            </ul>
          </li>
          <li class="has-sub">
            <a class="js-arrow" href="#" (click)="toggleTeamSquadMenu($event)" style="display: flex; justify-content: space-between; align-items: center;">
              <span>Team Squad</span>
              <i class="fa fa-chevron-right" id="team-squad-arrow" style="font-size: 12px;"></i>
            </a>
            <ul class="list-unstyled navbar-mobile-sub__list navbar-sidebar-submenu" id="team-squad-submenu" style="display: none; padding-left: 30px; border-top: 0.2px solid #ced4da;">
              <li *ngFor="let teamSeason of availableTeams">
                <a [routerLink]="['/team-squad', teamSeason.id]" routerLinkActive="active">
                  {{ teamSeason.team.name }}
                </a>
              </li>
            </ul>
          </li>
          <li class="has-sub">
            <a class="js-arrow" href="#" (click)="toggleMasterMenu($event)" style="display: flex; justify-content: space-between; align-items: center;">
              <span>Master</span>
              <i class="fa fa-chevron-right" id="master-arrow" style="font-size: 12px;"></i>
            </a>
            <ul class="list-unstyled navbar-mobile-sub__list navbar-sidebar-submenu" id="master-submenu" style="display: none; padding-left: 30px; border-top: 0.2px solid #ced4da;">
              <li><a routerLink="/player-master" routerLinkActive="active">Player</a></li>
            </ul>
          </li>
          <li style="border-top: 0.2px solid #ced4da; margin-top: 5px; padding-top: 5px;">
            <a href="#">Settings</a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
  <!-- END MENU SIDEBAR-->

  <!-- PAGE CONTAINER-->
  <div class="page-container">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">
            <form class="form-header" onsubmit="return false;" method="GET">
              <input class="au-input au-input-xl" type="text" name="search" placeholder="Search for data ..." />
              <button class="au-btn-submit" type="submit">Search</button>
            </form>
            <div class="cart-area d-n">
              <a href="#">
                <div class="total">19.22 <span> 2</span></div>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
    </header>
    <!-- END HEADER DESKTOP-->

    <!-- MAIN CONTENT-->
    <div class="main-content">
      <div class="section-content section-content-p30">
        <!-- <app-player-auction></app-player-auction> -->
         <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<!-- END PAGE CONTAINER-->

<footer>
  <ul>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Help</a></li>
  </ul>
</footer>

<!-- UI Overlay Component - Always available at root level -->
<app-ui-overlay></app-ui-overlay>